.Team_page_heading {
  padding-top: 50px;

  h1 {
    text-align: center;
  }
  .devider {
    width: 70px;
    height: 5px;
    background-color: #09a3df;
    display: block;
    margin: auto;
  }
}

.team {
  display: flex;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 50px 0px;
  .card {
    border: 2px solid transparent;
    transition: 0.3s all ease-in-out;
    width: 300px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
    &:hover {
      box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px !important;
    }
    .card-body {
      .team_box {
        img {
          width: 100%;
          height: 280px;
          border: 1px solid #009efb;
          object-fit: cover;
          border-radius: 5px 5px 0px 0px;
        }
        .teamContent {
          padding-top: 20px;
          line-height: 0px;
          text-align: center;
          h3 {
            font-size: 20px;
            text-transform: capitalize;
          }
          p {
            font-size: 14px;
            color: gray;
          }
        }
        .socialmedia {
          width: 100%;
          padding-top: 15px;
          ul {
            display: flex;
            column-gap: 10px;
            justify-content: center;
          }
          li {
            width: 40px;
            height: 40px;
            background-color: #009efb;
            line-height: 40px;
            text-align: center;
            border: 1px solid #009efb;
            border-radius: 50%;
            transition: 0.3s all ease-in-out;
            &:hover {
              border-radius: 5px;
            }

            a {
              color: #000;
              font-size: 20px;
            }
            img,
            svg {
              vertical-align: middle;
              color: white;
            }
          }
        }
      }
    }
  }
}
